.wrapper {
  padding: 2px;
  @apply w-max rounded;
}

.content__wrapper {
  padding: 3px;
  @apply bg-white bg-opacity-60 rounded;
}

.content {
  @apply h-6 w-6;
}

.content--img {
  transform: scale(1.3);
  @apply h-6 w-6 rounded;
}
