.wrapper {
  @apply w-full overflow-x-hidden;
}

.exercise_sets {
  scroll-snap-type: x mandatory;
  @apply mt-3 flex overflow-x-scroll sm:overflow-x-hidden;
}

.exercise_set_container {
  scroll-snap-align: start;
  @apply flex flex-col w-full sm:w-max duration-200;
}

.comparison_set_container {
  @apply ml-3;
}

.comparison_sets_todo {
  width: 100%;
  min-width: 70vw;
  @apply border-dashed border-2 border-primary-yellow bg-secondary-gray text-primary-yellow font-semibold h-full flex flex-center
    p-3 rounded my-1 text-center px-10 uppercase text-xl duration-200;

  @screen sm {
    min-width: 40vw;
  }

  @screen md {
    min-width: 380px;
  }
}

.comparison_active {
  @apply pb-3 sm:pb-0;
}

.set_wrapper {
  @apply flex bg-dark-gray w-full p-3 rounded  justify-between sm:p-4  my-1;
}

.comparison_set_wrapper {
  @apply bg-secondary-gray bg-opacity-70;
}

.set_with_comp {
  @apply flex justify-between;
}

.set {
  @apply sm:px-4 w-full sm:w-max;
}

.button_group_item {
  @apply flex flex-center my-1;
}

.button_group_item svg {
  @apply h-4 w-4 mr-2;
}

.delete_set_btn {
  @apply self-start sm:ml-3 hover:bg-red-400;
}

.delete_set_btn svg {
  fill: theme('colors.red.400');
  @apply h-4 w-4 duration-200;
}

.delete_set_btn:hover svg {
  fill: theme('colors.red.900');
}
