.wrapper {
  @apply w-full;
}

.set-number-wrapper {
  @apply font-display text-xl mb-1 flex items-center;
}

.input-wrapper {
  @apply flex items-center mt-3;
}

.label {
  @apply flex flex-col mr-2 sm:flex-row sm:items-center sm:mr-0;
}

.input {
  width: calc(2 * theme('spacing.4'));
  @apply text-base mr-0 ml-0 font-bold sm:ml-4;
}

.input[data-char-count='3'] {
  width: calc(2.5 * theme('spacing.4'));
}

.input[data-char-count='4'] {
  width: calc(3 * theme('spacing.4'));
}

.input[data-char-count='5'] {
  width: calc(4 * theme('spacing.4'));
}

.input[data-char-count='6'] {
  width: calc(5 * theme('spacing.4'));
}

.input[data-char-count='7'] {
  width: calc(6 * theme('spacing.4'));
}

.reps-input {
}

.band {
  @apply self-center;
}

.band-input-wrapper {
  @apply flex
   duration-200 p-1 rounded hover:bg-primary-gray cursor-pointer
   sm:items-center flex-col sm:flex-row;
}

.band-display-wrapper {
  @apply flex ml-0 sm:ml-2 flex-shrink-0;
}

.band-display-item {
  margin: 0 0.125rem;
  @apply flex flex-center h-4 w-4 rounded;
}

.additional-display-wrapper {
  @apply ml-0 mt-1 font-body text-base font-bold flex flex-center sm:ml-2;
}

.additional-weight {
  @apply ml-2 whitespace-nowrap;
}
