.wrapper {
  @apply flex;
}

.input-label {
  @apply px-0 w-0 overflow-hidden duration-200 opacity-0;
}

.input-label.active,
.wrapper:hover .input-label {
  @apply px-2 w-max opacity-100;
}

.input {
  @apply hidden;
}

.input-icon {
  fill: transparent;
  stroke: theme('colors.primary-yellow');
  @apply duration-200 h-5 w-5 cursor-pointer;
}

.input-icon path:not([fill='none']) {
  stroke-width: 1px;
}

.input:checked + .input-icon {
  stroke: transparent;
  fill: theme('colors.primary-yellow');
}
