.exercise-list {
}

.exercise-list.is-dragging-over {
  @apply bg-secondary-gray border-2 border-primary-yellow rounded;
  @screen sm {
    max-width: calc(theme('space.96') + theme('space.9'));
  }
}

.exercise-list-item {
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  @apply grid items-center bg-primary-gray rounded my-1;
  @screen sm {
    max-width: calc(theme('space.96') + theme('space.9'));
  }
}

.exercise-list-item.is-dragging {
  backdrop-filter: blur(2px);
  @apply opacity-75;
}

.drag-handle-btn {
  @apply hover:bg-bg-gray mx-1 col-start-1 col-end-2;
}
.drag-handle-btn svg {
  fill: #fff;
}

.remove-btn {
  @apply hover:bg-bg-gray px-0 col-start-3 col-end-4 mr-2 self-start mt-2;
}

.remove-btn svg {
  height: 1.15rem;
  width: 1.15rem;
}

.remove-btn:hover svg {
  fill: theme('colors.red.400');
}
