@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply bg-transparent font-body text-sm placeholder-gray-500
      py-1 duration-200 focus:outline-none;
  }

  input:active,
  input:target {
    outline: none;
  }

  button {
    @apply focus:outline-none;
  }
}

@layer components {
  .heading {
    @apply font-display font-bold;
  }

  .body {
    @apply font-body font-light;
  }

  .heading-3 {
    @apply text-xl;
  }

  .input-wrapper {
    @apply bg-primary-gray;
  }

  .btn {
    @apply font-display font-bold text-center px-3 py-1 rounded text-sm
      duration-200 border-2 border-transparent;
  }

  .btn--primary {
    @apply bg-primary-yellow text-bg-gray hover:filter hover:brightness-90;
  }

  .btn--secondary {
    @apply text-primary-yellow border-primary-yellow;
  }

  .btn--ghost {
    @apply hover:bg-primary-gray;
  }

  .btn--ghost-yellow {
    @apply hover:bg-secondary-yellow hover:text-bg-gray;
  }
}

* {
  letter-spacing: 2px;
  @apply text-white;
}

body {
  @apply overflow-y-hidden;
}

button {
  cursor: pointer;
}

.nav-button {
  @apply text-gray-300 hover:bg-bg-gray hover:text-white focus:outline-none duration-200;
}

.h-full-screen {
  --custom-height: calc(var(--vh, 1vh) * 100);
  height: var(--custom-height);
  @supports (-webkit-appearance: none) {
    .os-android & {
      height: var(--custom-height);
    }
  }

  @screen sm {
    height: 100vh;
  }
}
