@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  label {
    letter-spacing: 0.4em;
    @apply font-body font-bold uppercase text-sm;
  }

  input {
    @apply bg-transparent font-body text-sm placeholder-gray-500
      py-1 duration-200 focus:outline-none;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input:active,
  input:target {
    outline: none;
  }

  button {
    @apply focus:outline-none;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-display font-bold;
  }

  h1 {
    @apply text-3xl md:text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h5 {
    letter-spacing: 0.4em;
    @apply text-shade-gray text-sm;
  }
}

@layer components {
  .body {
    @apply font-body font-light;
  }

  .input-wrapper {
    @apply bg-primary-gray;
  }

  .btn {
    @apply font-display font-bold text-center px-3 py-1 rounded text-sm
      duration-200 border-2 border-transparent flex;
  }

  .btn--primary {
    @apply bg-primary-yellow text-bg-gray hover:filter hover:brightness-90;
  }

  .btn--secondary {
    @apply text-primary-yellow border-primary-yellow;
  }

  .btn--ghost {
    @apply hover:bg-primary-gray;
  }

  .btn--ghost-yellow {
    @apply hover:bg-secondary-yellow hover:text-bg-gray;
  }

  .btn--text {
    @apply border-transparent py-0 bg-transparent;
  }

  .input {
    @apply py-3 px-5 rounded block w-full mt-1 text-lg border-2 border-transparent md:text-sm;
  }

  .input--primary {
    @apply bg-shade-yellow text-bg-gray placeholder-primary-yellow;
  }

  .input--secondary {
    @apply bg-bg-gray placeholder-shade-gray text-primary-yellow border-primary-yellow;
  }
}

* {
  letter-spacing: 2px;
  @apply text-white;
}

body {
  @apply overflow-y-hidden;
}

button {
  cursor: pointer;
}

.nav-button {
  @apply text-gray-300 hover:bg-bg-gray hover:text-white focus:outline-none duration-200;
}

.h-full-screen {
  --custom-height: calc(var(--vh, 1vh) * 100);
  height: var(--custom-height);
  overflow-y: scroll;

  @media (min-width: 640px) {
    height: 100vh;
  }

  @supports (-webkit-appearance: none) {
    .os-android & {
      height: var(--custom-height);
    }
  }
}

.popup-content {
  @apply w-max bg-primary-gray border-none shadow-xl border-2 p-2;
}
